{% extends "network/layout.html" %}

{% block body %}
    <div class="container-md float-left">
        <div class="border border-dark rounded p-3 my-3">
            <h3>New Post</h3>
            <form>
                <textarea class="form-control m-1" id="new-post-body" rows="3"></textarea>
                <button class="btn btn-primary m-1">Post</button>
            </form>
        </div>
        
        <div id="posts">
            {% for post in posts %}
                <div id="post{{ forloop.counter }}" class="border border-dark rounded p-3 my-3">
                    <h3>{{ post.title }}</h3>
                    <a href="#">Edit</a>
                    <p>{{ post.body }}</p>
                    <p>
                        <a>Date: {{ post.date }}</a>
                        <a>Likes: {{ post.likes.count }}</a>
                    </p>
                    <a href="#">Comment</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}