{% extends "network/layout.html" %}

{% block body %}
    <div class="container-md float-left">
        <div class="border border-dark rounded p-3 my-3">
            <h3>New Post</h3>
            <form action="{% url 'post_submit' %}" method="POST">
                {% csrf_token %}
                <textarea class="form-control m-1" id="new-post-body" name="body" rows="3"></textarea>
                <button class="btn btn-primary m-1">Post</button>
            </form>
        </div>
        
        <div id="posts">
            {% for post in posts %}
                <div id="post{{ forloop.counter }}" class="border border-dark rounded p-3 my-3">
                    <p>Posted by <a href="#">{{post.poster}}</a></p>
                    <p><a href="#">Edit</a></p>
                    <p class="text-body">{{ post.body }}</p>
                    <p class="text-secondary">
                        <a>Date: {{ post.date }}</a>
                        <br>
                        <a>Likes: {{ post.likes.count }}</a>
                    </p>
                    <p><a href="#">Comment</a></p>

                    {% for comment in post.comments.all %}
                        <div id="comment{{ forloop.counter }}" class="border border-gray rounded p-2 my-2">

                        </div>
                    {% endfor %}
                </div>
                
            {% endfor %}
        </div>
    </div>
{% endblock %}